<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
	<h1> Welcome home</h1> <a href="/logout">logout</a>

	<table border="1">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Type</td>
		</tr>
		<% for(var i=0; i < uList.length; i++){ %>
		<tr>
			<td><%= uList[i].id %></td>
			<td><%= uList[i].username %></td>
			<td><%= uList[i].type %></td>
		</tr>
		<% } %>
	</table>
</body>
</html>